NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
FACEIT_API_KEY=
FACEIT_OAUTH_CLIENT_ID=
FACEIT_OAUTH_CLIENT_SECRET=
FACEIT_OAUTH_REDIRECT_URI=https://rioesports.com.br/api/auth/faceit/callback
